# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Carl Schwan <carl@carlschwan.eu>
[Desktop Entry]
Name=hashomatic
Name[ast]=hashomatic
Name[ca]=hashomatic
Name[ca@valencia]=hashomatic
Name[eo]=hashomatic
Name[es]=hashomatic
Name[eu]=hashomatic
Name[fr]=hachage automatiquement
Name[ia]=hashomatic
Name[it]=hashomatic
Name[ka]=hashomatic
Name[nl]=hashomatic
Name[pl]=hashomatic
Name[sl]=hashomatic
Name[tr]=Haşmatik
Name[uk]=hashomatic
Name[x-test]=xxhashomaticxx
Comment=Check hashes for your files
Comment[ca]=Comprova els resums de fitxers
Comment[ca@valencia]=Comprova els resums de fitxers
Comment[eo]=Kontroli haketkodojn de viaj dosieroj
Comment[es]=Comprobar hash de archivos
Comment[eu]=Egiaztatu zure fitxategientzako «hash»ak
Comment[fr]=Vérifier les codes de hachage de vos fichiers
Comment[ia]=Verifica hashes per tu files
Comment[it]=Controlla gli hash dei tuoi file
Comment[ka]=თქვენი ფაილის ჰეშების შემოწმება
Comment[nl]=Hashes voor uw bestanden controleren
Comment[pl]=Sprawdź hasze dla swoich plików
Comment[sl]=Preverite zgoščene vrednosti za svoje datoteke
Comment[tr]=Dosyalarınızın sağlamalarını denetleyin
Comment[uk]=Перевірка хеш-сум ваших файлів
Comment[x-test]=xxCheck hashes for your filesxx
Version=1.0
Exec=hashomatic
Icon=org.kde.hashomatic
Type=Application
Terminal=false
# Add an actual main category here (and possibly applicable additional ones)
#   https://specifications.freedesktop.org/menu-spec/latest/apa.html#main-category-registry
Categories=Qt;KDE;
