# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Carl Schwan <carl@carlschwan.eu>
[Desktop Entry]
Name=hashomatic
Name[ast]=hashomatic
Name[ca]=hashomatic
Name[ca@valencia]=hashomatic
Name[de]=hashomatic
Name[en_GB]=hashomatic
Name[eo]=hashomatic
Name[es]=hashomatic
Name[eu]=hashomatic
Name[fr]=hachage automatiquement
Name[gl]=hashomatic
Name[he]=hashomatic
Name[hi]=हशोमैटिक
Name[ia]=hashomatic
Name[it]=hashomatic
Name[ka]=hashomatic
Name[ko]=hashomatic
Name[lt]=hashomatic
Name[lv]=hashomatic
Name[nl]=hashomatic
Name[pa]=ਹੈਸ਼-ਓ-ਮੈਟਿਕ
Name[pl]=hashomatic
Name[ru]=hashomatic
Name[sa]=हशोमैटिक
Name[sk]=hashomatic
Name[sl]=hashomatic
Name[sv]=hashomatic
Name[tr]=Haşmatik
Name[uk]=hashomatic
Name[x-test]=xxhashomaticxx
Name[zh_CN]=哈希值相关
Name[zh_TW]=hashomatic
Comment=Check hashes for your files
Comment[ca]=Comprova els resums de fitxers
Comment[ca@valencia]=Comprova els resums de fitxers
Comment[de]=Hashwerte Ihrer Dateien überprüfen
Comment[en_GB]=Check hashes for your files
Comment[eo]=Kontroli haketkodojn de viaj dosieroj
Comment[es]=Comprobar hash de archivos
Comment[eu]=Egiaztatu zure fitxategientzako «hash»ak
Comment[fr]=Vérifier les codes de hachage de vos fichiers
Comment[gl]=Verificar as sumas de comprobacións de ficheiros.
Comment[he]=בדיקת הגיבובים של הקבצים שלך
Comment[hi]=अपनी फ़ाइलों के लिए हैश जाँचें
Comment[ia]=Verifica hashes per tu files
Comment[it]=Controlla gli hash dei tuoi file
Comment[ka]=თქვენი ფაილის ჰეშების შემოწმება
Comment[ko]=파일의 해시 검사
Comment[lt]=Tikrinti failų maišas
Comment[lv]=Pārbaudiet datņu jaucējkodus
Comment[nl]=Hashes voor uw bestanden controleren
Comment[pa]=ਆਪਣੀਆਂ ਫਾਇਲਾਂ ਲਈ ਹੈਸ਼ ਜਾਂਚੋ
Comment[pl]=Sprawdź hasze dla swoich plików
Comment[sa]=भवतः सञ्चिकानां कृते हैश्स् पश्यन्तु
Comment[sk]=Skontroluje hash vašich súborov
Comment[sl]=Preverite zgoščene vrednosti za svoje datoteke
Comment[sv]=Kontrollera kondensat för filer
Comment[tr]=Dosyalarınızın sağlamalarını denetleyin
Comment[uk]=Перевірка хеш-сум ваших файлів
Comment[x-test]=xxCheck hashes for your filesxx
Comment[zh_CN]=检查文件哈希值
Comment[zh_TW]=檢查您的檔案的雜湊值
Version=1.0
Exec=hashomatic
Icon=org.kde.hashomatic
Type=Application
Terminal=false
# Add an actual main category here (and possibly applicable additional ones)
#   https://specifications.freedesktop.org/menu-spec/latest/apa.html#main-category-registry
Categories=Qt;KDE;
