# SPDX-License-Identifier: BSD-2-Clause
# SPDX-FileCopyrightText: 2021 Carl Schwan <carl@carlschwan.eu>
[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/octet-stream;
Actions=generateFileHash

[Desktop Action generateFileHash]
Name=Generate file hash
Name[ca]=Genera el resum d'un fitxer
Name[ca@valencia]=Genera el resum d'un fitxer
Name[cs]=Vytvořit hash souboru
Name[de]=Hashwert erstellen
Name[eo]=Generi dosieran haketkodon
Name[es]=Generar hash de archivos
Name[eu]=Sortu fitxategi baten «hash»a
Name[fr]=Générer un code de hachage de fichier
Name[he]=יצירת גיבוב קובץ
Name[ia]=Genera hash de file
Name[it]=Genera hash del file
Name[ka]=ფაილის ჰეშის გენერაცია
Name[ko]=파일 해시 생성
Name[nl]=Hash van bestand genereren
Name[pa]=ਫਾਇਲ ਹੈਸ਼ ਤਿਆਰ ਕਰੋ
Name[pl]=Utwórz hasz pliku
Name[sk]=Generovať hash súboru
Name[sl]=Ustvari zgoščeno vrednost datoteke
Name[tr]=Dosya sağlaması oluştur
Name[uk]=Створення хеш-суми файла
Name[x-test]=xxGenerate file hashxx
Name[zh_TW]=產生檔案雜湊值
Icon=org.kde.hashomatic
Exec=hashomatic %u

