# SPDX-License-Identifier: BSD-3-Clause
# SPDX-FileCopyrightText: 2021 Carl Schwan <carl@carlschwan.eu>
[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/octet-stream;
Actions=generateFileHash

[Desktop Action generateFileHash]
Name=Generate file hash
Icon=org.kde.hashvalidator
Exec=hashvalidator %u

